server {

    listen       {{ ansible_default_ipv4.address }}:80;

    # Anonymous server (ip or hostname)
    server_name  "";   ## this is an IP address (or wrong server_name) based server

    # Configure log
    access_log /var/log/access.log;
    error_log  /var/log/error.log debug;

    # Index files
    index index.php index.html index.htm;

    # include all our locations for applications
    include {{ nginx_config_directory }}/locations-enabled/*.conf;

    # We don't need .ht files with nginx.
    location ~ /\.ht {

        deny all;

    }

    # Set header expirations on per-project basis
    location ~* \.(?:ico|css|js|jpe?g|JPE?G|png|svg|woff|webp)$ {

        expires max;

    }        
}
